@model Login
<div style="display: inline-block;">
    <form asp-controller="Home" asp-action="Login" method="post" style="border: 1px solid black; padding: 7px;>
        <label asp-for="loginEmail">Email: </label>
        <input type="email" asp-for="loginEmail">
        <br>
        <span asp-validation-for="loginEmail" style="color: red;">@ViewBag.Error</span>
        <br>
        <label asp-for="loginPassword">Password: </label>
        <input type="password" asp-for="loginPassword">
        <br>
        <span asp-validation-for="loginPassword" style="color: red;">@ViewBag.Error</span>
        <br>
        <input type="submit" value="Login">
    </form>
</div>