<!DOCTYPE html>
<html lang="en">
<head>
    @model User
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bright Ideas</title>
</head>
<body>
    <p>Name: @Model.name</p>
    <p>Alias: @Model.alias</p>
    <p>Email: @Model.email</p>
    <div style="border-bottom: 1px solid black;"></div>
    <p>Total Number of Posts: </p>
    <p>Total Number of Likes: </p>
</body>
</html>